.menu-js {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: none;
  background-color: #fff;
}

.menu-js > nav {
  background-color: #3c3a39;
  height: 90vh;
  padding: 106px 98px 106px 28px;
}

.menu-js > nav > ul > li {
  margin-bottom: 40px;
  border-bottom: 1px solid #6f6c6e;
  padding-left: 10px;
}

.menu-js > nav > ul {
  list-style: none;
}

.link a {
  font-family: "Inter", sans-serif;
  font-style: normal;
  color: #fff5e1;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  text-decoration: none;
}

.close-modal {
  background: transparent;
  border: none;
  color: white;
  position: absolute;
  right: 25px;
  top: 18px;
  font-size: 40px;
}

.menu-mobile-bottom {
  background-color: #e5e5e5;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  height: 10vh;
  width: 100vw;
  align-items: center;
}

.inner-div {
  position: absolute;
  bottom: 2vh;
  background: #3c3a39;
  width: 40vw;
  height: 1vh;
  border-radius: 10px;
}
