* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Crete+Round&family=Inter&display=swap');

.top-section {
  background: #3c3a39;
  display: flex;
  justify-content: space-between;
  padding: 12px 24px;
}

.title {
  font-family: "Roboto", sans-serif;
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  line-height: 24px;
  font-weight: 600;
}

.hero {
  background: #1c1a19 url("/images/hero.png");
  padding: 120px 24px;
  background-repeat: no-repeat;
  padding-bottom: 172px;
  background-position-x: right;
  background-position-y: 120%;
}

.hero h1 {
  font-family: 'Crete Round', serif;
  color: #ff6b00;
  font-size: 56px;
  letter-spacing: 0.37px;
  font-weight: 400;
  margin-bottom: 12px;
}

.hero h3 {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  line-height: 32px;
  color: #fff5e1;
  margin-bottom: 12px;
}

.hero .content {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  margin-bottom: 21px;
}

.social {
  display: flex;
  list-style: none;
}

.social li {
  padding: 0 12px;
}

.works h2 {
  display: grid;
  grid-template: 83px/327px;
  align-items: center;
  font-family: 'Crete Round', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  color: #1c1a19;
  padding-top: 120px;
  margin: auto 24px;
}

.works .vector {
  display: grid;
  padding: 24px;
}

.works .placeholder {
  padding-top: 60px;
  margin: auto 24px;
}

.works h6 {
  display: grid;
  grid-template: 36px/327px;
  align-items: center;
  font-family: 'Crete Round', serif;
  color: #091e42;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  padding: 0 24px;
  padding-top: 24px;
}

footer p {
  width: 327px;
  height: 216px;
  left: 0;
  top: 1px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  text-align: center;
  color: #172b4d;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 150px 24px 73px 24px;
}

.works p {
  display: grid;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  padding: 12px 24px;
  color: #091e42;
}

.works ul {
  display: flex;
  list-style: none;
  padding-left: 24px;
}

.works li {
  align-items: center;
  padding: 10px 12px;
  margin-right: 12px;
  border: 1px solid #8993a4;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #091e42;
}

form button {
  margin: 15px;
  background: #ff6b00;
  color: #fff;
  border: none;
  width: 131px;
  height: 48px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  margin-bottom: 124px;
  cursor: pointer;
}

.works button {
  border: none;
  width: 124px;
  background-color: #ff6b00;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: #fff;
  padding: 12px;
  margin-left: 24px;
  margin-top: 12px;
}

.art button {
  border: none;
  width: 327px;
  text-align: center;
  background-color: #ff6b00;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: #fff;
  padding: 12px 12px;
  margin-top: 22px;
}

.aboutMe button {
  border: none;
  width: 161px;
  height: 46px;
  text-align: center;
  background-color: #ff6b00;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: #fff;
  padding: 12px 12px;
  margin-left: 24px;
  margin-top: 22px;
}

.works button:hover {
  color: #ff6b00;
  background-color: #fff5e1;
  border: 1px solid #ff6b00;
  padding: 11px;
}

form button:hover {
  border: 1px solid #f55800;
  color: #f55800;
  background: #fff5e1;
}

.art {
  background: url("./images/bg.png");
  background-repeat: no-repeat;
}

.marg {
  margin: 0 24px;
  margin-bottom: 120px;
}

.art h2 {
  display: grid;
  grid-template: 36px/327px;
  align-items: center;
  font-family: 'Crete Round', serif;
  color: #fff;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  padding: 0 24px;
  padding-top: 108px;
}

.art p {
  display: grid;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  padding: 12px 24px;
  color: #fff;
  margin-top: 12px;
}

.art ul {
  display: flex;
  list-style: none;
  padding-left: 24px;
}

.art li {
  align-items: center;
  padding: 10px 12px;
  margin-right: 12px;
  border: 1px solid #8993a4;
  background: rgba(255, 255, 255, 0.24);
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #fff;
}

.art button:hover {
  color: #ff6b00;
  background-color: #fff5e1;
  border: 1px solid #ff6b00;
  padding: 11px;
}

.aboutMe {
  padding-top: 100px;
  background: #1c1a19 url("./images/Frame.png");
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: 330px;
  padding-bottom: 120px;
}

.aboutMe h2 {
  font-family: 'Crete Round', serif;
  margin: 0 24px;
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  line-height: 88px;
  letter-spacing: 0.37px;
  color: #ff6b00;
}

.aboutMe p {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  margin: 0 24px;
  font-size: 16px;
  line-height: 24px;
  color: #f4f5f7;
}

.aboutMe button:hover {
  color: #ff6b00;
  background-color: #fff5e1;
  border: 1px solid #ff6b00;
  padding: 11px;
}

.aboutMe .vector {
  margin: 209px 24px 136px 24px;
}

.first img {
  padding-right: 12px;
  margin-left: -21px;
}

.aboutMe span {
  margin: 24px 0;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  align-items: center;
  color: #fff;
}

.aboutMe ul > li {
  padding: 12px;
  list-style: none;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 43px;
  align-items: center;
  color: #fff;
}

.aboutMe ul {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
}

.sociallist li {
  padding: 9px;
}

footer {
  margin-top: 100px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  order: 4;
}

input {
  width: 90%;
  height: 52px;
  margin: 5px;
  background-color: #fff;
  border: 2px solid #dfdfe0;
  box-sizing: border-box;
  border-radius: 4px;
}

textarea {
  width: 90%;
  padding: 60px;
  padding-top: 22px;
  margin: 5px;
  background-color: #fff;
  border: 2px solid #dfdfe0;
  box-sizing: border-box;
  border-radius: 4px;
}

.sociallist {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 5px;
  justify-content: center;
}

.sociallist_link > a > img {
  width: 50px;
  height: 25px;
  margin: 50px;
  border-bottom: 10px;
}

.shape {
  padding-top: 8px;
  margin-left: 122px;
}

form input {
  border: none;
  border-bottom: 1px solid #dbd8d7;
  padding-left: 15px;
}

form textarea {
  border: none;
  background-color: #fbf8f7;
  padding-left: 15px;
  height: 114px;
  width: 327px;
}
